@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Black.ttf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-BlackItalic.ttf');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Light.ttf');
    font-weight: lighter ;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-LightItalic.ttf');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-white: #F8F8F8;
    --bg-lightgray:  #E4E8E7;
    --bg-gray: #969491;
    --bg-green: #338563;
    --bg-darkgreen: #215F45;
    --bg-lightgreen: #4b8d72;
    --border-radius: 10px;
    --debug: 1px solid red;
    --txt-color: #171716;
    --shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
}

/*
:root {
    --bg-white: #F8F8F8;
    --bg-lightgray:  #E4E8E7;
    --bg-gray: #969491;
    --bg-green: #245f9e;
    --bg-darkgreen: #104073;
    --bg-lightgreen: #598bc2;
    --border-radius: 10px;
    --debug: 1px solid red;
    --txt-color: black;
}*/

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: var(--txt-color);
}

body {
    background-color: var(--bg-white);
}

.debug, .debug * {
    border: var(--debug);
}

.bg-white       {background-color: var(--bg-white);}
.bg-lightgray   {background-color: var(--bg-lightgray);}
.bg-gray        {background-color: var(--bg-gray);}
.bg-green       {background-color: var(--bg-green);}
.bg-darkgreen   {background-color: var(--bg-darkgreen);}

.c-white       {color: var(--bg-white);}
.c-lightgray   {color: var(--bg-lightgray);}
.c-gray        {color: var(--bg-gray);}
.c-green       {color: var(--bg-green);}
.c-darkgreen   {color: var(--bg-darkgreen);}

.min-logo {
    width: 32px;
    height: 32px;
}

.input {
    background-color: var(--bg-lightgray);
    border-radius: var(--border-radius);
    border: 1px solid var(--bg-gray);
    padding: 10px;
}

.input:focus {
    border-color: var(--bg-green); 
    outline-color: var(--bg-green);
}

.link {color: var(--bg-darkgreen);}

.btn {
    background-color: var(--bg-green); 
    border: 2px solid var(--bg-green);
    color: var(--bg-white); 
    font-weight: bold;
    padding: var(--border-radius); 
    border-radius: var(--border-radius);
}

.btn.secondary {
    background-color: var(--bg-white); 
    color: var(--bg-green); 
}

.btn:hover, .btn:focus {
    background-color: var(--bg-lightgreen);
}

.btn.secondary:hover {
    background-color: var(--bg-lightgray);
}

.f-1 {font-size: 22px;}
.f-2 {font-size: 16px;}
.f-3 {font-size: 12px;}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: var(---txt-color);
}

.menu > li {
    padding: 10px;
    position: relative;
}

.menu > li.selected:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background-color: var(--bg-green);
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    margin-bottom: 10px;
}

.field > input {
    background-color: var(--bg-lightgray);
    border-radius: var(--border-radius);
    border: 1px solid var(--bg-gray);
    padding: 10px;
}

.field > input:focus {
    border-color: var(--bg-green); 
    outline-color: var(--bg-green);
}

.filtered {
	filter: invert(0%) ;
}

table {
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: var(--bg-lightgray);
}

td, th {
	padding: 5px;
	text-align: center;
}

.popup {
	background-color: var(--bg-white);
	border-radius: var(--border-radius);
	position: absolute;
	top: 100%;
	right: 0;
	box-shadow: var(--shadow);
	padding: 10px;
}

.popup-target {
	position: relative;
}

.popup-target > .popup {display: none;}

.popup-target:hover > .popup {display: flex;}

