*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*COLORS*/
.bg-primary-color{
    background: #000000;
}

.txt-primary-color{
    color: #ddd;
}


/*BORDERS*/
.border-styled{
    border: 1px solid #AAAAAA;
}
.non-border{
    border: none;
}


/*HEADER*/
.header{
    height: auto;
    width: 100%;
    
}
.header h1 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

/*MAIN*/

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
    

    

}
.transaction-main-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}
.container-date-inputs{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    
    
}
.container-transactions-inputs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    border: none;
    
}
.transaction-inpunts{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
}
.transactions-inpunts-1st-row {
    display: flex;
    gap: 70px;
}
.transactions-inpunts-2nd-row input {
    width: 63.3%;
}
.btn-save-transaction{
    padding-left: 400px;
}
#fecha-transaccion-registro{
    display: none;
    
    
}

/**Style buttons*/

.btn-styled{
    width: 150px;
    height: 25px;
    font-weight: bold;
    border-radius: 15px;
}


/*MIN-TABLE*/

.transactions-table{
    width: 100%;
    border-collapse: collapse;
}
table th {
    border: solid 1px #AAAAAA;
}
table td {
    border: solid 1px #AAAAAA;
    text-align: center;
}
.headers-table {
    font-weight: bold;
}
.col-1 {
    width: 5%;
}
.col-2 {
    width: 20%;
}
.col-3 {
    width: 20%;
}
.col-4 {
    width: 30%;
}
.col-5 {
    width: 15%;
}
.col-6 {
    width: 10%;
}


/*FOOTER*/
#footer{
    
    
    height: 130px;
    text-align: center;
    
}
#footer h3{
    font-size: 15px;
    font-weight: bold;
    padding:20px 0 10px 0;
}

#footer p{
    font-size: 12px;
    margin: 00px 10% 10px 10%;
}
#footer p:nth-of-type(2) a{
    color: #ddd;
    text-decoration: none;
}

.fixed-bottom {
   position: fixed;
   bottom: 0;
   width: 100%;
}